# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Flask
instance/
.webassets-cache

# Other
.DS_Store
Thumbs.db

# IDE files
.idea/

# Private Documents
JF Brand Guidelines (2).pdf